.zyw-col-1, .zyw-col-2, .zyw-col-3, .zyw-col-4, .zyw-col-5, .zyw-col-6, .zyw-col-7, .zyw-col-8, .zyw-col-9, .zyw-col-10, .zyw-col-11, .zyw-col-12{
	float: left;
}
.zyw-col-12 {width: 100%; }
.zyw-col-11 {width: 91.66666667%; }
.zyw-col-10 {width: 83.33333333%; }
.zyw-col-9 {width: 75%; }
.zyw-col-8 {width: 66.66666667%; }
.zyw-col-7 {width: 58.33333333%; }
.zyw-col-6 {width: 50%; }
.zyw-col-5 {width: 41.66666667%; }
.zyw-col-4 {width: 33.33333333%; }
.zyw-col-3 {width: 25%; }
.zyw-col-2 {width: 16.66666667%; }
.zyw-col-1 {width: 8.33333333%; }
* { box-sizing: border-box;}
table{
	width: 100%;
	max-width: 100%;
	border: 1px solid #ddd;
	border-collapse: collapse;
	tr{
		th,td{
			padding: 8px;
			vertical-align: top;
		}
		th{
			border: 2px solid #ddd
		}
		td{
			border: 1px solid #ddd
		}
	}
	&.zyw-table-hover{
		tr:hover{
			background: #f5f5f5;
		}
	}
}
input{
	&[type="text"], &[type="file"], &[type="password"], &[type="search"]{
		height: 34px;
		padding: 6px 12px;
		font-size: 14px;
		line-height: 34px;
		color: #555;
		margin-bottom: 10px;
	}
}
select{
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 34px;
	color: #555;
	margin-bottom: 10px;
}
textarea, input ,select{
	border: 1px solid #ddd; 
	&.zyw-block{
		width: 100%;
		display: block;
	}
}
textarea{
	height: auto;
	margin-bottom: 10px;
}
.zyw-btn {
	height: 34px;
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	margin-top: -2px;
	font-size: 14px;
	font-weight: normal;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	border: 1px solid #ddd;
	cursor: pointer;
	&.zyw-btn-info{
		color: #fff;
		background-color: #5bc0de;
		border-color: #46b8da;
	}
	&.zyw-btn-primary {
	  color: #fff;
	  background-color: #337ab7;
	  border-color: #2e6da4;
	}
	&.zyw-btn-success {
	  color: #fff;
	  background-color: #5cb85c;
	  border-color: #4cae4c;
	}
	&.zyw-btn-warning {
	  color: #fff;
	  background-color: #f0ad4e;
	  border-color: #eea236;
	}
	&.zyw-btn-danger {
	  color: #fff;
	  background-color: #d9534f;
	  border-color: #d43f3a;
	}
	&.zyw-btn-hollow-info{
		color: #46b8da;
		background-color: transparent;
		border-color: #46b8da;
	}
	&.zyw-btn-hollow-primary {
	  color: #2e6da4;
	  background-color: transparent;
	  border-color: #2e6da4;
	}
	&.zyw-btn-hollow-success {
	  color: #4cae4c;
	  background-color: transparent;
	  border-color: #4cae4c;
	}
	&.zyw-btn-hollow-warning {
	  color: #eea236;
	  background-color: transparent;
	  border-color: #eea236;
	}
	&.zyw-btn-hollow-danger {
	  color: #d43f3a;
	  background-color: transparent;
	  border-color: #d43f3a;
	}
}